
html{
	font-size: 10px;
}

section{
min-height: 90vh;
}

/* Огортка сайту */

.wrapper{
	max-width: 1620px;
	margin: 0 auto;
}

/* Хедер */

.header {
	background: #000000;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
}

.logo img {
	height: 10vh;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__link {
	font-family: 'Rosario', sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.8rem;
	color: #FFFCFC;
	margin: 0 1.5rem;
	position: relative;
}

.nav__item:last-child{
margin-right: 20px;
}

.nav__link:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #d4cfcf;
	transition: width 0.3s ease-out;
}

.nav__link:hover{
	color: #d4cfcf;
}

.nav__link:hover:after,
.nav__link:focus:after {
	width: 100%;
}

/* Перша сторінка */

.gallery {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
	margin: 0 2rem;
	overflow: hidden;
}

.gallery>div {
	width: 23%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.gallery img {
	max-width: 100%;
}

.image-two img:first-child {
	margin-bottom: 2rem;
}

.image-two img:last-child {
	margin-bottom: 2rem;
}

.media{
	display: none;
}

.media img {
	max-width: 100%;
}
/* Анімація */

/* лыва частина сторінки*/

.left-one .hide-left {
	animation: showLeft 1s linear 2s forwards;
}

.image-two .hide-left {
	animation: showLeft 1s linear 1s forwards;
}

.hide-left {
	transform: translateX(-100vh);
}

@keyframes showLeft {
	from{
		transform: translateX(-100vh);
	}to{
		transform: translateX(0);
	}
}

/* Права частина сторінки*/

.rignt-one .hide-rignt {
	animation: showRignt 1s linear 2s forwards;
	position : relative;
	z-index  : 1;
}

.image-two .hide-rignt {
	animation: showRignt 1s linear 1s forwards;
	position : relative;
	z-index  : 2;
}

.hide-rignt {
	transform: translateX(100vh);
}

@keyframes showRignt {
	from{
		transform: translateX(100vh);
	}to{
		transform: translateX(0);
	}
}


/* Друга сторінка */

.service-container {
	display: flex;
	height: 90vh;
}

.service-left {
	width: 50%;
	height: 100%;
	display: flex;
	overflow : hidden;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
}

.service-left img {
	max-width: 60%;
	margin-bottom: 1rem;
}

.service-left figure {
	font-family: 'Rosario', sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 4rem;
	margin: 0;
	padding: 0;
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.item-top-left {
	top: 0;
	left: 0;
	animation: TwistTopLeft 7s linear infinite;
}

@keyframes TwistTopLeft {
	from,to{
		top: 0;
		left: 0;
	}
	25% {
		top: 0;
		left: 50%;
	}
	50%{
		top: 50%;
		left: 50%;
	}
	75%{
		top: 50%;
		left: 0;
	}
}

.item-top-right {
	top: 0;
	left: 50%;
	animation: TwistRigntTop 7s linear infinite;
}

@keyframes TwistRigntTop {
	from,to{
		top: 0;
		left: 50%;
	}
	25% {
		top: 50%;
		left: 50%;
	}
	50%{
		top: 50%;
		left: 0;
	}
	75%{
		top: 0;
		left: 0;
	}
}

.item-bottom-left {
	top: 50%;
	left: 50%;
	animation: TwistBottomRignt 7s linear infinite;
}

@keyframes TwistBottomLeft {
	from,to{
		top: 50%;
		left: 0;
	}
	25% {
		top: 0;
		left: 0;
	}
	50%{
		top: 0;
		left: 50%;
	}
	75%{
		top: 50%;
		left: 50%;
	}
}

.item-bottom-right {
	top: 50%;
	left: 0;
	animation: TwistBottomLeft 7s linear infinite;
}

@keyframes TwistBottomRignt {
	from,to{
		top: 50%;
		left: 50%;
	}
	25% {
		top: 50%;
		left: 0;
	}
	50%{
		top: 0;
		left: 0;
	}
	75%{
		top: 0;
		left: 50%;
	}
}

.service-rignt {
	overflow: hidden;
	width: 50%;
	height: 100%;
	/* animation: TwistTopLeft 5s linear infinite; */
}

.service-rignt img {
	min-height: 100%;
	width: 100%;
	object-fit: cover;
}


/* Третя сторінка */

.team-container {
	height: 90vh;
	text-align: center;
}

.team-title {
	margin-top: 1rem;
	font-size: 8.2rem;
	font-family: 'Rosario', sans-serif;
	font-weight: 900;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.team-photo {
	margin-top: 5rem;
	height: 71%;
	display: flex;
	justify-content: space-evenly;
}

.team-photo>div {
	width: 19%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50px;
	transition: filter .2s;
	overflow: hidden;
	position: relative;
	background-position: center;
}

.card-first {
	background-image: url(../img/img12.png);
}

.card-second {
	background-image: url(../img/img13.png);
}

.card-third {
	background-image: url(../img/img14.png);
}

.card-fourth {
	background-image: url(../img/img15.png);
}

.team-photo:hover>div {
	filter: brightness(.3);
	cursor: pointer;
}

.team-name{
	background-color:rgba(163, 83, 10, 0.7);
	font-family: 'Volkhov', serif;
	color: #FFFAFA;
	font-size: 4.2rem;
	font-weight: 400;
	overflow: hidden;
	height: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-photo > div:hover{
	filter: none;
}

.team-photo > div:hover .team-name{
	height: 130px;
	width: 100%;
	bottom: 0;
	position: absolute;
	transition: all 1.5s;
}


/* Четверта секція */

.contact-container {
	height: 90vh;
	margin-top: 5rem;
	/* width: 100%; */
}

.form-end-map {
display: flex;
justify-content: center;
margin: 0 auto;
width: 90%;
}

.contact-form {
	margin-right: 3rem;
	width: 50%;
}

.contact-form-title{
	font-family: 'Rosario', sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 5rem;
	line-height: 7rem;
	text-align: center;
	max-width: 86%;
}

.form{
	background: #E5E5E5;
	width: 100%;
	height: 70%;
	box-sizing: border-box;
}

.form-item{
	display: flex;
	width: 100%;
}

	.email, .name{
	margin: 3rem auto 0;
	max-width: 100%;
	height: 5rem;
	background: #FFFFFF;
	padding-left: 1.2rem;
	width: 80%;
}

.name-box, .email-box{
	width: 50%;
}

.input{
	display: block;
	margin: 30px auto;
	width: 90%;
	min-height: 150px;
	resize: none;
}

.input, .email, .name{
	font-family: 'Rosario', sans-serif;
	font-weight: 700;
	font-size: 2.6rem;
	line-height: 3.4rem;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.5);
}


.map {
	width: 40%;
}
.map iframe{
width: 100%;
}

.contact {
display: flex;
justify-content: space-around;
width: 80%;
margin: 5rem auto;
font-family: 'Rosario', sans-serif;
}

.address {
width: 32%;
font-style: italic;
font-weight: 600;
font-size: 2.3rem;
line-height: 3rem;
text-align: center;
}

.address span{
	font-style: normal;
	font-weight: 700;
	}

.address a, .socmedia a {
	color: #000000;
}

.timetable {
	width: 30%;
	font-style: italic;
	font-weight: 600;
	font-size: 2.3rem;
	line-height: 3rem;
	text-align: center;
}

.timetable h4{
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 4rem;
	margin-bottom: 2.5rem;
}

.socmedia {
	width: 25%;
text-align: center;
}

.socmedia h4{
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
}

.socmedia a {
	font-style: italic;
	font-weight: 600;
	font-size: 2.3rem;
	line-height: 3rem;
	display: block;
	cursor: pointer;
}

.soc-box{
	width: 65%;
   margin: 0 auto;
   text-align: left;
}

.insta::before{
	content: url(../img/insta.svg);
	margin-right: 2rem;
}
.face::before{
	content: url(../img/face.svg);
	margin-right: 1rem;
}
.twit::before{
	content: url(../img/twit.svg);
	margin-right: 1rem;
}

/* Медіа запити  */

@media screen and (max-width: 1065px){
	.contact-form-title{
		font-size: 4rem;
		line-height: 5rem;
	}
	.map iframe {
		height: 95%;
	}
}

@media screen and (max-width: 992px){
	.nav__link{
		font-size: 2.4rem;
		line-height: 2.8rem;
		margin: 0 0.8rem;
	} 
	.gallery .left-one, .gallery .rignt-one {
		display: none;
	}
	.gallery{
	justify-content: space-evenly;
	}
	.gallery>div{
		width: 43%;
		margin-top: 3rem; 
	} 
	.media{
		display: flex;
		justify-content: space-evenly;
		max-width: 100%;
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
	.media img{
		max-width: 100%;
	}
	.left-one .hide-left {
		animation: showLeft 1s linear 1s forwards;
	}
	.rignt-one .hide-rignt {
		animation: showRignt 1s linear 1s forwards;
		position : relative;
		z-index  : 1;
	}
	.service-container{
		height: 200vh;
		flex-direction: column-reverse;
	}
	.service-left, .service-rignt{
		width: 100%;
		height: 100vh;
	}
	.service-rignt img{
		height: 100%;
	}
	.team-container{
		min-height: 170vh;
	}
	.team-photo{
		flex-wrap: wrap;
	}
	.team-photo>div{
		width: 35%;
		height: 55%;
	}
	.card-first, .card-second{
		margin-bottom: 2rem;
	}
	.contact-container{
		margin-top: 1rem;
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
		padding-bottom: 10rem;
	}
	.form-end-map{
		display: block;
		height: 70vh;
	}
	.contact-form{
		display: none;
	}
	.map iframe {
		height: 100%;
	}
	.map{
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}
	.contact{
		width: 90%;
	}
	.soc-box{
		width: 90%;
	}
	.address{
		width: 38%;
	}
}

@media screen and (max-width: 768px){
	.nav{
		width: 70%;
		flex-wrap: wrap;
	}
	.nav__link{
		font-size: 2.8rem;
		line-height: 3.3rem;
		margin: 0 2.5rem;
	}
	.gallery{
		height: 100%;
		display: block;
		margin: 2rem auto;
	}
	.media{
	display: none;
	}
	.gallery .left-one, .gallery .rignt-one {
		display: block;
	}
	.gallery>div{
		margin: 0 auto;
		width: 50%;
	}
	.left-one{
		width: 50%;
	}
	.image-two .hide-left:first-child{
		margin-top: 2rem;
		animation: showRignt 1s linear 1s forwards;
		position : relative;
		z-index  : 1;
	}
	.image-two .hide-rignt:last-child{
			animation: showLeft 1s linear 1s forwards;
	}
	.service-container{
		height: 100%;
	}
	.service-rignt{
		display: none;
	}
	.team-title{
		font-size: 6rem;
		height: 7rem;
	}
	.team-container{
		height: 340vh;
		margin: 0;
	}
	.team-photo{
		display: block;
	}
	.team-photo>div {
		margin: 2rem auto;
		width: 45%;
		height: 32%;
	}
	.contact-container{
		display: block;
	}
	.form-end-map{
		display: block;
		margin: 0 auto;
	}
	.contact-form{
		display: none;
	}
	.map{
		margin: 0 auto;
		max-width: 80%;
	}
	.map iframe{
		margin: 0 auto;
	width: 100%;
	}
	.contact{
		display: block;
		margin: 0 auto;
		padding-bottom: 10rem;
	}
	.contact>div{
		width: 65%;
		margin: 3rem auto;
	}
	.soc-box{
		width: 40%;
	}
}
